/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.marged {
  height:70px;
}

.pop-up {
float:right;
position:relative;
z-index:10;
}

.up {
  position: relative;
  margin-top: -230px;
  padding-top: 200px;
}

.features {
  background: black;
}

body {
  overflow: hidden;
}
