/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.marged {
  height:70px;
}

.pop-up {
  float:right;
  position:relative;
  z-index:10;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.up {
  position: relative;
  margin-top: -230px;
  padding-top: 200px;
}

.features {
  background: black;
}

body {
  overflow: hidden;
  background: rgba(217, 217, 217, 0.12);
}

.hiddened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

.bot-arrow i {
  font-size:28px ;
  cursor: pointer;
}

.whited-background {
  background: white;
}

#img-features {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.flexed {
    display: flex;
    align-items: center;
}
