<div class="navbar-wagon navbar-wagon-fixed ">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Logo.svg.png", id:"logo-nav" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->


      <!-- Notification -->

        <div class="badge-container">
        </div>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
        </div>
      </div>
    <div class="arrow-anim">
    <i class="fa fa-long-arrow-right hidden" id="arrow-anim-1"></i>
    <i class="fa fa-long-arrow-right hidden" id="arrow-anim-2"></i>
    <i class="fa fa-long-arrow-right hidden" id="arrow-anim-3"></i>

    </div>
    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Contact WARA"), "#", class: "navbar-wagon-item navbar-wagon-button btn", id:"test" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>


  $(document).ready(function() {
    $("#logo-nav").hover(
    function(event) {
    $('.navbar-wagon-brand').addClass('rotate-nav');
    },
    function(event) {
    $('.navbar-wagon-brand').toggleClass('rotate-second-nav');
    }
    );
  });


  $(document).ready(function() {


function myTimeoutFunction()
{

    setTimeout(function(){
    $('.navbar-wagon-brand').toggleClass('rotate-second-nav');
    }, 7000);

    setTimeout(function(){
    $('#arrow-anim-1').toggleClass('hidden');
    }, 17000);

    setTimeout(function(){
    $('#arrow-anim-2').toggleClass('hidden');
    }, 17500);

    setTimeout(function(){
    $('#arrow-anim-3').toggleClass('hidden');
    }, 18000);


    setTimeout(function(){
    $('#test').toggleClass('navbar-wagon-button-hovered');
    }, 18150);

    setTimeout(function(){
    $('#test').toggleClass('navbar-wagon-button-hovered');
    }, 18300);

    setTimeout(function(){
    $('#test').toggleClass('navbar-wagon-button-hovered');
    }, 18450);

    setTimeout(function(){
    $('#test').toggleClass('navbar-wagon-button-hovered');
    }, 18600);

    setTimeout(function(){
    $('.navbar-wagon-brand').removeClass('rotate-second-nav');
    }, 18250);

    setTimeout(function(){
    $('#arrow-anim-1').toggleClass('hidden');
    $('#arrow-anim-2').toggleClass('hidden');
    $('#arrow-anim-3').toggleClass('hidden');
    }, 18550);

    setTimeout(function(){
    $('#arrow-anim-1').toggleClass('hidden');
    $('#arrow-anim-2').toggleClass('hidden');
    $('#arrow-anim-3').toggleClass('hidden');
    }, 19000);

    setTimeout(function(){
    $('#arrow-anim-1').toggleClass('hidden');
    $('#arrow-anim-2').toggleClass('hidden');
    $('#arrow-anim-3').toggleClass('hidden');
    }, 19550);

    setTimeout(function(){
    $('#arrow-anim-1').toggleClass('hidden');
    $('#arrow-anim-2').toggleClass('hidden');
    $('#arrow-anim-3').toggleClass('hidden');
    }, 20000);

    setTimeout(function(){
    $('#arrow-anim-1').toggleClass('hidden');
    $('#arrow-anim-2').toggleClass('hidden');
    $('#arrow-anim-3').toggleClass('hidden');
    }, 22500);



}

myTimeoutFunction();
setInterval(myTimeoutFunction, 26000);
      $('.navbar-wagon-brand').toggleClass('rotate-nav');
      });
  <% end %>
<% end %>
